
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {js href="/static/js/jquery-3.2.1.min.js" /}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {js href="/static/bootstrap/js/bootstrap.min.js" /}
    <!-- Bootstrap验证插件 -->
    {js href="/static/bootstrapvalidator/dist/js/bootstrapValidator.js" /}
    {js href="/static/bootstrapvalidator/dist/js/language/zh_CN.js" /}
    <!-- sweetalert弹窗插件 -->
    {js href="/static/sweetalert2/dist/sweetalert2.min.js" /}

    <!-- jQuery WEUI -->
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>

    <!-- jQueryForm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

  </body>
</html>