<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>重庆存己科技</title>
    <!-- Bootstrap -->
    {css href="/static/bootstrap/css/bootstrap.min.css" /}
    <!-- Bootstrap验证插件 -->
    {css href="/static/bootstrapvalidator/dist/css/bootstrapValidator.css" /}
    <!-- sweetalert弹窗插件 -->
    {css href="/static/sweetalert2/dist/sweetalert2.min.css" /}

    <!-- 谷歌字体 -->
    <link href='https://fonts.cat.net/css?family=Open+Sans' rel='stylesheet'>

    <!-- jQuery WEUI -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <!-- 当前页面css -->
    {css href="/static/index/layouts/css/layouts.css" /}

  </head>
  <body>
